<?xml version="1.0"?>

<model>
  <name>calibration_board</name>
  <version>1.0</version>
  <sdf version='1.5'>calibration_board.sdf</sdf>

  <author>
    <name>Kiki Sarpong</name>
    <email>kikiyawsarpong@gmail.com</email>
  </author>

  <description>
    calibration_board
  </description>
</model>