<?xml version="1.0" ?>
<robot>

    <!-- Gazebo Camera plugin  1-->
    <gazebo reference="camera_link_1">          
        <sensor type="wideanglecamera" name="camera1">
            <update_rate>30.0</update_rate>
            <camera name="head">
              <pose>0 0 0 0 1.57 0</pose>       
                <horizontal_fov>3.1415</horizontal_fov> 180 degrees
                <image>
                    <width>1080</width>
                    <height>720</height>
                    <format>R8G8B8</format>
                </image>
                <clip>
                    <near>0.01</near>
                    <far>100</far>
                </clip>
                <noise>
                    <type>gaussian</type>
                    <mean>0.0</mean>
                    <stddev>0.007</stddev>
                </noise>
            <lens>
                <type>stereographic</type>
                <scale_to_hfov>true</scale_to_hfov>
                <cutoff_angle>1.5707</cutoff_angle>
                <env_texture_size>512</env_texture_size>
           </lens>
        </camera>
            <plugin name="camera_controller" filename="libgazebo_ros_camera.so">
                <alwaysOn>true</alwaysOn>
                <updateRate>0.0</updateRate>
                <cameraName>warehouse/camera1</cameraName> change the name to robot_name..camera_name
                <imageTopicName>image_raw</imageTopicName>
                <cameraInfoTopicName>camera_info</cameraInfoTopicName>
                <frameName>camera1_link</frameName>
            </plugin>
        </sensor>
    </gazebo>




      <!-- Gazebo Camera plugin  2-->
    <gazebo reference="camera_link_2">          
        <sensor type="wideanglecamera" name="camera2">
            <update_rate>30.0</update_rate>
            <camera name="head">
              <pose>0 0 0 0 1.57 0</pose>       
                <horizontal_fov>3.1415</horizontal_fov> 180 degrees
                <image>
                    <width>1080</width>
                    <height>720</height>
                    <format>R8G8B8</format>
                </image>
                <clip>
                    <near>0.01</near>
                    <far>100</far>
                </clip>
                <noise>
                    <type>gaussian</type>
                    <mean>0.0</mean>
                    <stddev>0.007</stddev>
                </noise>
            <lens>
                <type>stereographic</type>
                <scale_to_hfov>true</scale_to_hfov>
                <cutoff_angle>1.5707</cutoff_angle>
                <env_texture_size>512</env_texture_size>
           </lens>
        </camera>
            <plugin name="camera_controller" filename="libgazebo_ros_camera.so">
                <alwaysOn>true</alwaysOn>
                <updateRate>0.0</updateRate>
                <cameraName>warehouse/camera2</cameraName> change the name to robot_name..camera_name
                <imageTopicName>image_raw</imageTopicName>
                <cameraInfoTopicName>camera_info</cameraInfoTopicName>
                <frameName>camera2_link</frameName>
            </plugin>
        </sensor>
    </gazebo>

      <!-- Gazebo Camera plugin  3-->
    <gazebo reference="camera_link_3">          
        <sensor type="wideanglecamera" name="camera3">
            <update_rate>30.0</update_rate>
            <camera name="head">
              <pose>0 0 0 0 1.57 0</pose>       
                <horizontal_fov>3.1415</horizontal_fov> 180 degrees
                <image>
                    <width>1080</width>
                    <height>720</height>
                    <format>R8G8B8</format>
                </image>
                <clip>
                    <near>0.01</near>
                    <far>100</far>
                </clip>
                <noise>
                    <type>gaussian</type>
                    <mean>0.0</mean>
                    <stddev>0.007</stddev>
                </noise>
            <lens>
                <type>stereographic</type>
                <scale_to_hfov>true</scale_to_hfov>
                <cutoff_angle>1.5707</cutoff_angle>
                <env_texture_size>512</env_texture_size>
           </lens>
        </camera>
            <plugin name="camera_controller" filename="libgazebo_ros_camera.so">
                <alwaysOn>true</alwaysOn>
                <updateRate>0.0</updateRate>
                <cameraName>warehouse/camera3</cameraName> change the name to robot_name..camera_name
                <imageTopicName>image_raw</imageTopicName>
                <cameraInfoTopicName>camera_info</cameraInfoTopicName>
                <frameName>camera3_link</frameName>
            </plugin>
        </sensor>
    </gazebo>

      <!-- Gazebo Camera plugin  4-->
    <gazebo reference="camera_link_4">          
        <sensor type="wideanglecamera" name="camera4">
            <update_rate>30.0</update_rate>
            <camera name="head">
              <pose>0 0 0 0 1.57 0</pose>       
                <horizontal_fov>3.1415</horizontal_fov> 180 degrees
                <image>
                    <width>1080</width>
                    <height>720</height>
                    <format>R8G8B8</format>
                </image>
                <clip>
                    <near>0.01</near>
                    <far>100</far>
                </clip>
                <noise>
                    <type>gaussian</type>
                    <mean>0.0</mean>
                    <stddev>0.007</stddev>
                </noise>
            <lens>
                <type>stereographic</type>
                <scale_to_hfov>true</scale_to_hfov>
                <cutoff_angle>1.5707</cutoff_angle>
                <env_texture_size>512</env_texture_size>
           </lens>
        </camera>
            <plugin name="camera_controller" filename="libgazebo_ros_camera.so">
                <alwaysOn>true</alwaysOn>
                <updateRate>0.0</updateRate>
                <cameraName>warehouse/camera4</cameraName> change the name to robot_name..camera_name
                <imageTopicName>image_raw</imageTopicName>
                <cameraInfoTopicName>camera_info</cameraInfoTopicName>
                <frameName>camera4_link</frameName>
            </plugin>
        </sensor>
    </gazebo>

      <!-- Gazebo Camera plugin  5-->
    <gazebo reference="camera_link_5">          
        <sensor type="wideanglecamera" name="camera5">
            <update_rate>30.0</update_rate>
            <camera name="head">
              <pose>0 0 0 0 1.57 0</pose>       
                <horizontal_fov>3.1415</horizontal_fov> 180 degrees
                <image>
                    <width>1080</width>
                    <height>720</height>
                    <format>R8G8B8</format>
                </image>
                <clip>
                    <near>0.01</near>
                    <far>100</far>
                </clip>
                <noise>
                    <type>gaussian</type>
                    <mean>0.0</mean>
                    <stddev>0.007</stddev>
                </noise>
            <lens>
                <type>stereographic</type>
                <scale_to_hfov>true</scale_to_hfov>
                <cutoff_angle>1.5707</cutoff_angle>
                <env_texture_size>512</env_texture_size>
           </lens>
        </camera>
            <plugin name="camera_controller" filename="libgazebo_ros_camera.so">
                <alwaysOn>true</alwaysOn>
                <updateRate>0.0</updateRate>
                <cameraName>warehouse/camera5</cameraName> change the name to robot_name..camera_name
                <imageTopicName>image_raw</imageTopicName>
                <cameraInfoTopicName>camera_info</cameraInfoTopicName>
                <frameName>camera5_link</frameName>
            </plugin>
        </sensor>
    </gazebo>

      <!-- Gazebo Camera plugin  6-->
    <gazebo reference="camera_link_6">          
        <sensor type="wideanglecamera" name="camera6">
            <update_rate>30.0</update_rate>
            <camera name="head">
              <pose>0 0 0 0 1.57 0</pose>       
                <horizontal_fov>3.1415</horizontal_fov> 180 degrees
                <image>
                    <width>1080</width>
                    <height>720</height>
                    <format>R8G8B8</format>
                </image>
                <clip>
                    <near>0.01</near>
                    <far>100</far>
                </clip>
                <noise>
                    <type>gaussian</type>
                    <mean>0.0</mean>
                    <stddev>0.007</stddev>
                </noise>
            <lens>
                <type>stereographic</type>
                <scale_to_hfov>true</scale_to_hfov>
                <cutoff_angle>1.5707</cutoff_angle>
                <env_texture_size>512</env_texture_size>
           </lens>
        </camera>
            <plugin name="camera_controller" filename="libgazebo_ros_camera.so">
                <alwaysOn>true</alwaysOn>
                <updateRate>0.0</updateRate>
                <cameraName>warehouse/camera6</cameraName> change the name to robot_name..camera_name
                <imageTopicName>image_raw</imageTopicName>
                <cameraInfoTopicName>camera_info</cameraInfoTopicName>
                <frameName>camera6_link</frameName>
            </plugin>
        </sensor>
    </gazebo>


      <!-- Gazebo Camera plugin  7-->
    <gazebo reference="camera_link_7">          
        <sensor type="wideanglecamera" name="camera7">
            <update_rate>30.0</update_rate>
            <camera name="head">
              <pose>0 0 0 0 1.57 0</pose>       
                <horizontal_fov>3.1415</horizontal_fov> 180 degrees
                <image>
                    <width>1080</width>
                    <height>720</height>
                    <format>R8G8B8</format>
                </image>
                <clip>
                    <near>0.01</near>
                    <far>100</far>
                </clip>
                <noise>
                    <type>gaussian</type>
                    <mean>0.0</mean>
                    <stddev>0.007</stddev>
                </noise>
            <lens>
                <type>stereographic</type>
                <scale_to_hfov>true</scale_to_hfov>
                <cutoff_angle>1.5707</cutoff_angle>
                <env_texture_size>512</env_texture_size>
           </lens>
        </camera>
            <plugin name="camera_controller" filename="libgazebo_ros_camera.so">
                <alwaysOn>true</alwaysOn>
                <updateRate>0.0</updateRate>
                <cameraName>warehouse/camera7</cameraName> change the name to robot_name..camera_name
                <imageTopicName>image_raw</imageTopicName>
                <cameraInfoTopicName>camera_info</cameraInfoTopicName>
                <frameName>camera7_link</frameName>
            </plugin>
        </sensor>
    </gazebo>


      <!-- Gazebo Camera plugin  8-->
    <gazebo reference="camera_link_8">          
        <sensor type="wideanglecamera" name="camera8">
            <update_rate>30.0</update_rate>
            <camera name="head">
              <pose>0 0 0 0 1.57 0</pose>       
                <horizontal_fov>3.1415</horizontal_fov> 180 degrees
                <image>
                    <width>1080</width>
                    <height>720</height>
                    <format>R8G8B8</format>
                </image>
                <clip>
                    <near>0.01</near>
                    <far>100</far>
                </clip>
                <noise>
                    <type>gaussian</type>
                    <mean>0.0</mean>
                    <stddev>0.007</stddev>
                </noise>
            <lens>
                <type>stereographic</type>
                <scale_to_hfov>true</scale_to_hfov>
                <cutoff_angle>1.5707</cutoff_angle>
                <env_texture_size>512</env_texture_size>
           </lens>
        </camera>
            <plugin name="camera_controller" filename="libgazebo_ros_camera.so">
                <alwaysOn>true</alwaysOn>
                <updateRate>0.0</updateRate>
                <cameraName>warehouse/camera8</cameraName> change the name to robot_name..camera_name
                <imageTopicName>image_raw</imageTopicName>
                <cameraInfoTopicName>camera_info</cameraInfoTopicName>
                <frameName>camera8_link</frameName>
            </plugin>
        </sensor>
    </gazebo>


          <!-- Gazebo Camera plugin  9-->
    <gazebo reference="camera_link_9">          
        <sensor type="wideanglecamera" name="camera9">
            <update_rate>30.0</update_rate>
            <camera name="head">
              <pose>0 0 0 0 1.57 0</pose>       
                <horizontal_fov>3.1415</horizontal_fov> 180 degrees
                <image>
                    <width>1080</width>
                    <height>720</height>
                    <format>R8G8B8</format>
                </image>
                <clip>
                    <near>0.01</near>
                    <far>100</far>
                </clip>
                <noise>
                    <type>gaussian</type>
                    <mean>0.0</mean>
                    <stddev>0.007</stddev>
                </noise>
            <lens>
                <type>stereographic</type>
                <scale_to_hfov>true</scale_to_hfov>
                <cutoff_angle>1.5707</cutoff_angle>
                <env_texture_size>512</env_texture_size>
           </lens>
        </camera>
            <plugin name="camera_controller" filename="libgazebo_ros_camera.so">
                <alwaysOn>true</alwaysOn>
                <updateRate>0.0</updateRate>
                <cameraName>warehouse/camera9</cameraName> change the name to robot_name..camera_name
                <imageTopicName>image_raw</imageTopicName>
                <cameraInfoTopicName>camera_info</cameraInfoTopicName>
                <frameName>camera9_link</frameName>
            </plugin>
        </sensor>
    </gazebo>


          <!-- Gazebo Camera plugin  10-->
    <gazebo reference="camera_link_10">          
        <sensor type="wideanglecamera" name="camera10">
            <update_rate>30.0</update_rate>
            <camera name="head">
              <pose>0 0 0 0 1.57 0</pose>       
                <horizontal_fov>3.1415</horizontal_fov> 180 degrees
                <image>
                    <width>1080</width>
                    <height>720</height>
                    <format>R8G8B8</format>
                </image>
                <clip>
                    <near>0.01</near>
                    <far>100</far>
                </clip>
                <noise>
                    <type>gaussian</type>
                    <mean>0.0</mean>
                    <stddev>0.007</stddev>
                </noise>
            <lens>
                <type>stereographic</type>
                <scale_to_hfov>true</scale_to_hfov>
                <cutoff_angle>1.5707</cutoff_angle>
                <env_texture_size>512</env_texture_size>
           </lens>
        </camera>
            <plugin name="camera_controller" filename="libgazebo_ros_camera.so">
                <alwaysOn>true</alwaysOn>
                <updateRate>0.0</updateRate>
                <cameraName>warehouse/camera10</cameraName> change the name to robot_name..camera_name
                <imageTopicName>image_raw</imageTopicName>
                <cameraInfoTopicName>camera_info</cameraInfoTopicName>
                <frameName>camera10_link</frameName>
            </plugin>
        </sensor>
    </gazebo>

          <!-- Gazebo Camera plugin  11-->
    <gazebo reference="camera_link_11">          
        <sensor type="wideanglecamera" name="camera11">
            <update_rate>30.0</update_rate>
            <camera name="head">
              <pose>0 0 0 0 1.57 0</pose>       
                <horizontal_fov>3.1415</horizontal_fov> 180 degrees
                <image>
                    <width>1080</width>
                    <height>720</height>
                    <format>R8G8B8</format>
                </image>
                <clip>
                    <near>0.01</near>
                    <far>100</far>
                </clip>
                <noise>
                    <type>gaussian</type>
                    <mean>0.0</mean>
                    <stddev>0.007</stddev>
                </noise>
            <lens>
                <type>stereographic</type>
                <scale_to_hfov>true</scale_to_hfov>
                <cutoff_angle>1.5707</cutoff_angle>
                <env_texture_size>512</env_texture_size>
           </lens>
        </camera>
            <plugin name="camera_controller" filename="libgazebo_ros_camera.so">
                <alwaysOn>true</alwaysOn>
                <updateRate>0.0</updateRate>
                <cameraName>warehouse/camera11</cameraName> change the name to robot_name..camera_name
                <imageTopicName>image_raw</imageTopicName>
                <cameraInfoTopicName>camera_info</cameraInfoTopicName>
                <frameName>camera11_link</frameName>
            </plugin>
        </sensor>
    </gazebo>


          <!-- Gazebo Camera plugin  12-->
    <gazebo reference="camera_link_12">          
        <sensor type="wideanglecamera" name="camera12">
            <update_rate>30.0</update_rate>
            <camera name="head">
              <pose>0 0 0 0 1.57 0</pose>       
                <horizontal_fov>3.1415</horizontal_fov> 180 degrees
                <image>
                    <width>1080</width>
                    <height>720</height>
                    <format>R8G8B8</format>
                </image>
                <clip>
                    <near>0.01</near>
                    <far>100</far>
                </clip>
                <noise>
                    <type>gaussian</type>
                    <mean>0.0</mean>
                    <stddev>0.007</stddev>
                </noise>
            <lens>
                <type>stereographic</type>
                <scale_to_hfov>true</scale_to_hfov>
                <cutoff_angle>1.5707</cutoff_angle>
                <env_texture_size>512</env_texture_size>
           </lens>
        </camera>
            <plugin name="camera_controller" filename="libgazebo_ros_camera.so">
                <alwaysOn>true</alwaysOn>
                <updateRate>0.0</updateRate>
                <cameraName>warehouse/camera12</cameraName> change the name to robot_name..camera_name
                <imageTopicName>image_raw</imageTopicName>
                <cameraInfoTopicName>camera_info</cameraInfoTopicName>
                <frameName>camera12_link</frameName>
            </plugin>
        </sensor>
    </gazebo>




              <!-- Gazebo Camera plugin  12-->
    <gazebo reference="camera_link_13">          
        <sensor type="wideanglecamera" name="camera13">
            <update_rate>30.0</update_rate>
            <camera name="head">
              <pose>0 0 0 0 1.57 0</pose>       
                <horizontal_fov>3.1415</horizontal_fov> 180 degrees
                <image>
                    <width>1080</width>
                    <height>720</height>
                    <format>R8G8B8</format>
                </image>
                <clip>
                    <near>0.01</near>
                    <far>100</far>
                </clip>
                <noise>
                    <type>gaussian</type>
                    <mean>0.0</mean>
                    <stddev>0.007</stddev>
                </noise>
            <lens>
                <type>stereographic</type>
                <scale_to_hfov>true</scale_to_hfov>
                <cutoff_angle>1.5707</cutoff_angle>
                <env_texture_size>512</env_texture_size>
           </lens>
        </camera>
            <plugin name="camera_controller" filename="libgazebo_ros_camera.so">
                <alwaysOn>true</alwaysOn>
                <updateRate>0.0</updateRate>
                <cameraName>warehouse/camera13</cameraName> change the name to robot_name..camera_name
                <imageTopicName>image_raw</imageTopicName>
                <cameraInfoTopicName>camera_info</cameraInfoTopicName>
                <frameName>camera13_link</frameName>
            </plugin>
        </sensor>
    </gazebo>


          <!-- Gazebo Camera plugin  14-->
    <gazebo reference="camera_link_14">          
        <sensor type="wideanglecamera" name="camera14">
            <update_rate>30.0</update_rate>
            <camera name="head">
              <pose>0 0 0 0 1.57 0</pose>       
                <horizontal_fov>3.1415</horizontal_fov> 180 degrees
                <image>
                    <width>1080</width>
                    <height>720</height>
                    <format>R8G8B8</format>
                </image>
                <clip>
                    <near>0.01</near>
                    <far>100</far>
                </clip>
                <noise>
                    <type>gaussian</type>
                    <mean>0.0</mean>
                    <stddev>0.007</stddev>
                </noise>
            <lens>
                <type>stereographic</type>
                <scale_to_hfov>true</scale_to_hfov>
                <cutoff_angle>1.5707</cutoff_angle>
                <env_texture_size>512</env_texture_size>
           </lens>
        </camera>
            <plugin name="camera_controller" filename="libgazebo_ros_camera.so">
                <alwaysOn>true</alwaysOn>
                <updateRate>0.0</updateRate>
                <cameraName>warehouse/camera14</cameraName> change the name to robot_name..camera_name
                <imageTopicName>image_raw</imageTopicName>
                <cameraInfoTopicName>camera_info</cameraInfoTopicName>
                <frameName>camera14_link</frameName>
            </plugin>
        </sensor>
    </gazebo>



          <!-- Gazebo Camera plugin  15-->
    <gazebo reference="camera_link_15">          
        <sensor type="wideanglecamera" name="camera15">
            <update_rate>30.0</update_rate>
            <camera name="head">
              <pose>0 0 0 0 1.57 0</pose>       
                <horizontal_fov>3.1415</horizontal_fov> 180 degrees
                <image>
                    <width>1080</width>
                    <height>720</height>
                    <format>R8G8B8</format>
                </image>
                <clip>
                    <near>0.01</near>
                    <far>100</far>
                </clip>
                <noise>
                    <type>gaussian</type>
                    <mean>0.0</mean>
                    <stddev>0.007</stddev>
                </noise>
            <lens>
                <type>stereographic</type>
                <scale_to_hfov>true</scale_to_hfov>
                <cutoff_angle>1.5707</cutoff_angle>
                <env_texture_size>512</env_texture_size>
           </lens>
        </camera>
            <plugin name="camera_controller" filename="libgazebo_ros_camera.so">
                <alwaysOn>true</alwaysOn>
                <updateRate>0.0</updateRate>
                <cameraName>warehouse/camera15</cameraName> change the name to robot_name..camera_name
                <imageTopicName>image_raw</imageTopicName>
                <cameraInfoTopicName>camera_info</cameraInfoTopicName>
                <frameName>camera15_link</frameName>
            </plugin>
        </sensor>
    </gazebo>















       <!-- Gazebo Camera plugin  16-->
    <gazebo reference="camera_link_16">
        <sensor type="wideanglecamera" name="camera16">
            <update_rate>30.0</update_rate>
            <camera name="head">
              <pose>0 0 0 0 1.57 0</pose>
                <horizontal_fov>3.1415</horizontal_fov> 180 degrees
                <image>
                    <width>1080</width>
                    <height>720</height>
                    <format>R8G8B8</format>
                </image>
                <clip>
                    <near>0.01</near>
                    <far>100</far>
                </clip>
                <noise>
                    <type>gaussian</type>
                    <mean>0.0</mean>
                    <stddev>0.007</stddev>
                </noise>
            <lens>
                <type>stereographic</type>
                <scale_to_hfov>true</scale_to_hfov>
                <cutoff_angle>1.5707</cutoff_angle>
                <env_texture_size>512</env_texture_size>
           </lens>
        </camera>
            <plugin name="camera_controller" filename="libgazebo_ros_camera.so">
                <alwaysOn>true</alwaysOn>
                <updateRate>0.0</updateRate>
                <cameraName>warehouse/camera16</cameraName> change the name to robot_name..camera_name
                <imageTopicName>image_raw</imageTopicName>
                <cameraInfoTopicName>camera_info</cameraInfoTopicName>
                <frameName>camera16_link</frameName>
            </plugin>
        </sensor>
    </gazebo>


      <!-- Gazebo Camera plugin  17-->
    <gazebo reference="camera_link_17">
        <sensor type="wideanglecamera" name="camera17">
            <update_rate>30.0</update_rate>
            <camera name="head">
              <pose>0 0 0 0 1.57 0</pose>
                <horizontal_fov>3.1415</horizontal_fov> 180 degrees
                <image>
                    <width>1080</width>
                    <height>720</height>
                    <format>R8G8B8</format>
                </image>
                <clip>
                    <near>0.01</near>
                    <far>100</far>
                </clip>
                <noise>
                    <type>gaussian</type>
                    <mean>0.0</mean>
                    <stddev>0.007</stddev>
                </noise>
            <lens>
                <type>stereographic</type>
                <scale_to_hfov>true</scale_to_hfov>
                <cutoff_angle>1.5707</cutoff_angle>
                <env_texture_size>512</env_texture_size>
           </lens>
        </camera>
            <plugin name="camera_controller" filename="libgazebo_ros_camera.so">
                <alwaysOn>true</alwaysOn>
                <updateRate>0.0</updateRate>
                <cameraName>warehouse/camera17</cameraName> change the name to robot_name..camera_name
                <imageTopicName>image_raw</imageTopicName>
                <cameraInfoTopicName>camera_info</cameraInfoTopicName>
                <frameName>camera17_link</frameName>
            </plugin>
        </sensor>
    </gazebo>


      <!-- Gazebo Camera plugin  18-->
    <gazebo reference="camera_link_18">
        <sensor type="wideanglecamera" name="camera18">
            <update_rate>30.0</update_rate>
            <camera name="head">
              <pose>0 0 0 0 1.57 0</pose>
                <horizontal_fov>3.1415</horizontal_fov> 180 degrees
                <image>
                    <width>1080</width>
                    <height>720</height>
                    <format>R8G8B8</format>
                </image>
                <clip>
                    <near>0.01</near>
                    <far>100</far>
                </clip>
                <noise>
                    <type>gaussian</type>
                    <mean>0.0</mean>
                    <stddev>0.007</stddev>
                </noise>
            <lens>
                <type>stereographic</type>
                <scale_to_hfov>true</scale_to_hfov>
                <cutoff_angle>1.5707</cutoff_angle>
                <env_texture_size>512</env_texture_size>
           </lens>
        </camera>
            <plugin name="camera_controller" filename="libgazebo_ros_camera.so">
                <alwaysOn>true</alwaysOn>
                <updateRate>0.0</updateRate>
                <cameraName>warehouse/camera18</cameraName> change the name to robot_name..camera_name
                <imageTopicName>image_raw</imageTopicName>
                <cameraInfoTopicName>camera_info</cameraInfoTopicName>
                <frameName>camera18_link</frameName>
            </plugin>
        </sensor>
    </gazebo>


          <!-- Gazebo Camera plugin  19-->
    <gazebo reference="camera_link_19">
        <sensor type="wideanglecamera" name="camera19">
            <update_rate>30.0</update_rate>
            <camera name="head">
              <pose>0 0 0 0 1.57 0</pose>
                <horizontal_fov>3.1415</horizontal_fov> 180 degrees
                <image>
                    <width>1080</width>
                    <height>720</height>
                    <format>R8G8B8</format>
                </image>
                <clip>
                    <near>0.01</near>
                    <far>100</far>
                </clip>
                <noise>
                    <type>gaussian</type>
                    <mean>0.0</mean>
                    <stddev>0.007</stddev>
                </noise>
            <lens>
                <type>stereographic</type>
                <scale_to_hfov>true</scale_to_hfov>
                <cutoff_angle>1.5707</cutoff_angle>
                <env_texture_size>512</env_texture_size>
           </lens>
        </camera>
            <plugin name="camera_controller" filename="libgazebo_ros_camera.so">
                <alwaysOn>true</alwaysOn>
                <updateRate>0.0</updateRate>
                <cameraName>warehouse/camera19</cameraName> change the name to robot_name..camera_name
                <imageTopicName>image_raw</imageTopicName>
                <cameraInfoTopicName>camera_info</cameraInfoTopicName>
                <frameName>camera19_link</frameName>
            </plugin>
        </sensor>
    </gazebo>


          <!-- Gazebo Camera plugin  20-->
    <gazebo reference="camera_link_20">
        <sensor type="wideanglecamera" name="camera20">
            <update_rate>30.0</update_rate>
            <camera name="head">
              <pose>0 0 0 0 1.57 0</pose>
                <horizontal_fov>3.1415</horizontal_fov> 180 degrees
                <image>
                    <width>1080</width>
                    <height>720</height>
                    <format>R8G8B8</format>
                </image>
                <clip>
                    <near>0.01</near>
                    <far>100</far>
                </clip>
                <noise>
                    <type>gaussian</type>
                    <mean>0.0</mean>
                    <stddev>0.007</stddev>
                </noise>
            <lens>
                <type>stereographic</type>
                <scale_to_hfov>true</scale_to_hfov>
                <cutoff_angle>1.5707</cutoff_angle>
                <env_texture_size>512</env_texture_size>
           </lens>
        </camera>
            <plugin name="camera_controller" filename="libgazebo_ros_camera.so">
                <alwaysOn>true</alwaysOn>
                <updateRate>0.0</updateRate>
                <cameraName>warehouse/camera20</cameraName> change the name to robot_name..camera_name
                <imageTopicName>image_raw</imageTopicName>
                <cameraInfoTopicName>camera_info</cameraInfoTopicName>
                <frameName>camera20_link</frameName>
            </plugin>
        </sensor>
    </gazebo>

          <!-- Gazebo Camera plugin  21-->
    <gazebo reference="camera_link_21">
        <sensor type="wideanglecamera" name="camera21">
            <update_rate>30.0</update_rate>
            <camera name="head">
              <pose>0 0 0 0 1.57 0</pose>
                <horizontal_fov>3.1415</horizontal_fov> 180 degrees
                <image>
                    <width>1080</width>
                    <height>720</height>
                    <format>R8G8B8</format>
                </image>
                <clip>
                    <near>0.01</near>
                    <far>100</far>
                </clip>
                <noise>
                    <type>gaussian</type>
                    <mean>0.0</mean>
                    <stddev>0.007</stddev>
                </noise>
            <lens>
                <type>stereographic</type>
                <scale_to_hfov>true</scale_to_hfov>
                <cutoff_angle>1.5707</cutoff_angle>
                <env_texture_size>512</env_texture_size>
           </lens>
        </camera>
            <plugin name="camera_controller" filename="libgazebo_ros_camera.so">
                <alwaysOn>true</alwaysOn>
                <updateRate>0.0</updateRate>
                <cameraName>warehouse/camera21</cameraName> change the name to robot_name..camera_name
                <imageTopicName>image_raw</imageTopicName>
                <cameraInfoTopicName>camera_info</cameraInfoTopicName>
                <frameName>camera21_link</frameName>
            </plugin>
        </sensor>
    </gazebo>


          <!-- Gazebo Camera plugin  22-->
    <gazebo reference="camera_link_22">
        <sensor type="wideanglecamera" name="camera22">
            <update_rate>30.0</update_rate>
            <camera name="head">
              <pose>0 0 0 0 1.57 0</pose>
                <horizontal_fov>3.1415</horizontal_fov> 180 degrees
                <image>
                    <width>1080</width>
                    <height>720</height>
                    <format>R8G8B8</format>
                </image>
                <clip>
                    <near>0.01</near>
                    <far>100</far>
                </clip>
                <noise>
                    <type>gaussian</type>
                    <mean>0.0</mean>
                    <stddev>0.007</stddev>
                </noise>
            <lens>
                <type>stereographic</type>
                <scale_to_hfov>true</scale_to_hfov>
                <cutoff_angle>1.5707</cutoff_angle>
                <env_texture_size>512</env_texture_size>
           </lens>
        </camera>
            <plugin name="camera_controller" filename="libgazebo_ros_camera.so">
                <alwaysOn>true</alwaysOn>
                <updateRate>0.0</updateRate>
                <cameraName>warehouse/camera22</cameraName> change the name to robot_name..camera_name
                <imageTopicName>image_raw</imageTopicName>
                <cameraInfoTopicName>camera_info</cameraInfoTopicName>
                <frameName>camera22_link</frameName>
            </plugin>
        </sensor>
    </gazebo>




              <!-- Gazebo Camera plugin  23-->
    <gazebo reference="camera_link_23">
        <sensor type="wideanglecamera" name="camera23">
            <update_rate>30.0</update_rate>
            <camera name="head">
              <pose>0 0 0 0 1.57 0</pose>
                <horizontal_fov>3.1415</horizontal_fov> 180 degrees
                <image>
                    <width>1080</width>
                    <height>720</height>
                    <format>R8G8B8</format>
                </image>
                <clip>
                    <near>0.01</near>
                    <far>100</far>
                </clip>
                <noise>
                    <type>gaussian</type>
                    <mean>0.0</mean>
                    <stddev>0.007</stddev>
                </noise>
            <lens>
                <type>stereographic</type>
                <scale_to_hfov>true</scale_to_hfov>
                <cutoff_angle>1.5707</cutoff_angle>
                <env_texture_size>512</env_texture_size>
           </lens>
        </camera>
            <plugin name="camera_controller" filename="libgazebo_ros_camera.so">
                <alwaysOn>true</alwaysOn>
                <updateRate>0.0</updateRate>
                <cameraName>warehouse/camera23</cameraName> change the name to robot_name..camera_name
                <imageTopicName>image_raw</imageTopicName>
                <cameraInfoTopicName>camera_info</cameraInfoTopicName>
                <frameName>camera23_link</frameName>
            </plugin>
        </sensor>
    </gazebo>


          <!-- Gazebo Camera plugin 24-->
    <gazebo reference="camera_link_24">
        <sensor type="wideanglecamera" name="camera24">
            <update_rate>30.0</update_rate>
            <camera name="head">
              <pose>0 0 0 0 1.57 0</pose>
                <horizontal_fov>3.1415</horizontal_fov> 180 degrees
                <image>
                    <width>1080</width>
                    <height>720</height>
                    <format>R8G8B8</format>
                </image>
                <clip>
                    <near>0.01</near>
                    <far>100</far>
                </clip>
                <noise>
                    <type>gaussian</type>
                    <mean>0.0</mean>
                    <stddev>0.007</stddev>
                </noise>
            <lens>
                <type>stereographic</type>
                <scale_to_hfov>true</scale_to_hfov>
                <cutoff_angle>1.5707</cutoff_angle>
                <env_texture_size>512</env_texture_size>
           </lens>
        </camera>
            <plugin name="camera_controller" filename="libgazebo_ros_camera.so">
                <alwaysOn>true</alwaysOn>
                <updateRate>0.0</updateRate>
                <cameraName>warehouse/camera24</cameraName> change the name to robot_name..camera_name
                <imageTopicName>image_raw</imageTopicName>
                <cameraInfoTopicName>camera_info</cameraInfoTopicName>
                <frameName>camera24_link</frameName>
            </plugin>
        </sensor>
    </gazebo>





</robot>